<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcome!</title>
    <meta charset="utf-8"/>
</head>
<h1>Welcome</h1>

<div>
    <table>
        <#list lstcar as lst>
            <tr>
                <td>${lst.id_car}</td><td>${lst.model}</td><td>${lst.id_driver}</td>
            </tr>
        </#list>
    </table>
</div>
</body>
</html>